[Unit]
Description=Python Script that runs on startup

[Service]
Type=simple
User=worbots4145
Restart=always
RestartSec=3
ExecStart=/bin/bash ~/2024Vision/vision-worbots.sh

[Install]
WantedBy=multi-user.target